<div *ngIf="currentTutorial" class="edit-form">
  <h4>Application</h4>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <div class="form-control">{{ currentTutorial.title }}</div>
    </div>

    <div class="form-group">
      <label for="organizationName">Organization Name</label>
      <div class="form-control">{{ currentTutorial.organizationName }}</div>
    </div>

    <div class="form-group">
      <label for="totalNo">Total No. of Projects Completed</label>
      <div class="form-control">{{ currentTutorial.totalNo }}</div>
    </div>

    <div class="form-group">
      <label for="name">Applicant Name</label>
      <div class="form-control">{{ currentTutorial.name }}</div>
    </div>

    <div class="form-group">
      <label for="pdf">Document</label>
      <div class="form-control">{{ currentTutorial.pdf }}</div>
    </div>

    <div class="form-group">
      <label for="description">Comments</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="currentTutorial.description"
        name="description"
      />
    </div>

    <div class="form-group">
      <label><strong>Status:</strong></label>
      <div>{{ currentTutorial.published ? "Approved" : "Pending" }}</div>
    </div>
  </form>

  <button
    class="btn btn-primary btn-unpublish"
    *ngIf="currentTutorial.published"
    (click)="updatePublished(false)"
  >
    UnPublish
  </button>

  <button
    class="btn btn-primary mr-2"
    *ngIf="!currentTutorial.published"
    (click)="updatePublished(true)"
  >
    Approve
  </button>

  <!-- <button class="btn btn-danger mr-2" (click)="deleteTutorial()">
    Delete
  </button> -->

  <button type="submit" class="btn btn-success" (click)="updateTutorial()">
    Update
  </button>
  <p class="message">{{ message }}</p>
</div>

<div *ngIf="!currentTutorial">
  <br />
  <p>Cannot access this Tutorial...</p>
</div>